<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Create Book</title>
  </head>
<body>
<header>
<center>
    <h2>The list of book is given below 
</h2>
</center>
</header>
<br>
 <div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Price</th>
      <th scope="col">Author</th>
      <th scope="col">ISBN</th>
    </tr>
  </thead>
  <tbody>
    <%for(var i=0;i<data.length;i++){%>
    <tr>
        <%for(var j in data[i]){%>
        <%if(j == '_id')continue;%>
        <td>
            <%=data[i][j]%>
        </td>
        <%}%>
    </tr>
    <%}%>
  </tbody>
</table>
 </div>

 <br><br><hr>
 <div class="container">
  <div class="jumbotron">
    <center>
      <header>
        <h4>Data Received from Mongodb</h4>
      </header>
    </center>
    <center>
      <%for(var i=0;i<data.length;i++){%>
      <%=JSON.stringify(data[i])%>
      <%}%>
    </center>
  </div>
 </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>